flows.json
[
    {
        "id": "c859606fa8657c86",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0130d987fe9b5643",
        "type": "serial-port",
        "name": "",
        "serialport": "COM5",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "94c125bf6c60790f",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5c326d248734f865",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#3341ff",
                "baseFont": "Copperplate,Copperplate Gothic Light,fantasy",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#32f1fb",
                "baseFont": "Lucida Sans Unicode,Lucida Grande,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#32f1fb",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#32f1fb",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#7df6fc",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#32f1fb",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Lucida Sans Unicode,Lucida Grande,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Situação Climática",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d6464e8f3104f0b7",
        "type": "ui_tab",
        "name": "São Paulo",
        "icon": "mi-wb_sunny",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9076243f6f9a72f8",
        "type": "ui_group",
        "name": "Velocidade do Vento",
        "tab": "d6464e8f3104f0b7",
        "order": 4,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3bdacf279d5bedfe",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "d6464e8f3104f0b7",
        "order": 1,
        "disp": true,
        "width": 15,
        "collapse": false,
        "className": ""
    },
    {
        "id": "72f017258def493e",
        "type": "ui_group",
        "name": "Amplitude Térmica",
        "tab": "d6464e8f3104f0b7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2dc95e5edd4255ce",
        "type": "ui_tab",
        "name": "Rio de Janeiro",
        "icon": "mi-wb_sunny",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9a362c76890981f7",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "2dc95e5edd4255ce",
        "order": 1,
        "disp": true,
        "width": 15,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e490e445e7396706",
        "type": "ui_group",
        "name": "Amplitude Térmica",
        "tab": "2dc95e5edd4255ce",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f41d6f162939396f",
        "type": "ui_group",
        "name": "Humidade Relativa",
        "tab": "2dc95e5edd4255ce",
        "order": 3,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "597a105ea7109939",
        "type": "ui_group",
        "name": "Velocidade do Vento",
        "tab": "2dc95e5edd4255ce",
        "order": 4,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5d11d58f09e8524d",
        "type": "ui_group",
        "name": "Sensação Térmica",
        "tab": "2dc95e5edd4255ce",
        "order": 5,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f8c447f891c8d4f8",
        "type": "ui_group",
        "name": "Sensação Térmica",
        "tab": "d6464e8f3104f0b7",
        "order": 5,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4047a8244a7d9147",
        "type": "ui_group",
        "name": "Humidade Relativa",
        "tab": "d6464e8f3104f0b7",
        "order": 3,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "27ca6726f8a4d8ea",
        "type": "ui_link",
        "name": "Produzido por: Higor Batista",
        "link": "https://br.linkedin.com/in/higorbatista/",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 3
    },
    {
        "id": "588ecfb058d69a09",
        "type": "ui_spacer",
        "z": "c859606fa8657c86",
        "name": "spacer",
        "group": "72f017258def493e",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "ae36e0fc7f61a797",
        "type": "ui_group",
        "name": "Ultrassônico",
        "tab": "2dc95e5edd4255ce",
        "order": 6,
        "disp": true,
        "width": 11,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d0a5dca32cabc4cb",
        "type": "ui_spacer",
        "z": "c859606fa8657c86",
        "name": "spacer",
        "group": "e490e445e7396706",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "7b4fee68c02ee452",
        "type": "debug",
        "z": "c859606fa8657c86",
        "name": "debug SP",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 140,
        "wires": []
    },
    {
        "id": "03980cfda84bef22",
        "type": "http request",
        "z": "c859606fa8657c86",
        "name": "São Paulo - SP",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=-23.5475&lon=-46.6361&appid=a669c7581a465a7a7c6ca5cea61e378f&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 240,
        "y": 200,
        "wires": [
            [
                "79a282f80ff71675"
            ]
        ]
    },
    {
        "id": "79a282f80ff71675",
        "type": "json",
        "z": "c859606fa8657c86",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 200,
        "wires": [
            [
                "8543a0a826302009",
                "9d9272cdafdbdb50",
                "fd962b83511711c1",
                "208c95dae43810a1",
                "ee93e4c11f383a88",
                "e35d55f46cb409d9"
            ]
        ]
    },
    {
        "id": "8543a0a826302009",
        "type": "change",
        "z": "c859606fa8657c86",
        "name": "Temperatura",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 140,
        "wires": [
            [
                "c2b4d64655a4ad2f"
            ]
        ]
    },
    {
        "id": "9d9272cdafdbdb50",
        "type": "change",
        "z": "c859606fa8657c86",
        "name": "Mínima",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp_min",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 200,
        "wires": [
            [
                "86635994ccaf24c2"
            ]
        ]
    },
    {
        "id": "fd962b83511711c1",
        "type": "change",
        "z": "c859606fa8657c86",
        "name": "Máxima",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp_max",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 80,
        "wires": [
            [
                "cf9d7202ba98a3e0"
            ]
        ]
    },
    {
        "id": "cf9d7202ba98a3e0",
        "type": "ui_gauge",
        "z": "c859606fa8657c86",
        "name": "",
        "group": "72f017258def493e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Maxima",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1100,
        "y": 80,
        "wires": [],
        "icon": "font-awesome/fa-sun-o"
    },
    {
        "id": "c2b4d64655a4ad2f",
        "type": "ui_gauge",
        "z": "c859606fa8657c86",
        "name": "",
        "group": "3bdacf279d5bedfe",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1110,
        "y": 140,
        "wires": [],
        "icon": "font-awesome/fa-sun-o"
    },
    {
        "id": "86635994ccaf24c2",
        "type": "ui_gauge",
        "z": "c859606fa8657c86",
        "name": "",
        "group": "72f017258def493e",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Mínimo",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1100,
        "y": 200,
        "wires": [],
        "icon": "font-awesome/fa-sun-o"
    },
    {
        "id": "f1e27d0bc04a71c3",
        "type": "http request",
        "z": "c859606fa8657c86",
        "name": "Rio de Janeiro - RJ",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=-22.9028&lon=-43.2075&appid=a669c7581a465a7a7c6ca5cea61e378f&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 250,
        "y": 580,
        "wires": [
            [
                "654a6250456b61f6"
            ]
        ]
    },
    {
        "id": "654a6250456b61f6",
        "type": "json",
        "z": "c859606fa8657c86",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 580,
        "wires": [
            [
                "8b4f23fdd9905c87",
                "89f41540a9c3e542",
                "1133ad35b5dc091b",
                "2661be134d23c811",
                "3abc02ebdcb7e3c7",
                "c7e74a615e8e2c3e"
            ]
        ]
    },
    {
        "id": "8b096e96e7d0f2ef",
        "type": "debug",
        "z": "c859606fa8657c86",
        "name": "debug RJ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 520,
        "wires": []
    },
    {
        "id": "8b4f23fdd9905c87",
        "type": "change",
        "z": "c859606fa8657c86",
        "name": "Temperatura",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 520,
        "wires": [
            [
                "6f5ac0811991ea4d"
            ]
        ]
    },
    {
        "id": "1133ad35b5dc091b",
        "type": "change",
        "z": "c859606fa8657c86",
        "name": "Mínima",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp_min",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 580,
        "wires": [
            [
                "b9917fb519e1db3a"
            ]
        ]
    },
    {
        "id": "89f41540a9c3e542",
        "type": "change",
        "z": "c859606fa8657c86",
        "name": "Máxima",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp_max",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 460,
        "wires": [
            [
                "ee82bd7675bd929c"
            ]
        ]
    },
    {
        "id": "ee82bd7675bd929c",
        "type": "ui_gauge",
        "z": "c859606fa8657c86",
        "name": "",
        "group": "e490e445e7396706",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Máxima",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1100,
        "y": 460,
        "wires": [],
        "icon": "font-awesome/fa-sun-o"
    },
    {
        "id": "6f5ac0811991ea4d",
        "type": "ui_gauge",
        "z": "c859606fa8657c86",
        "name": "",
        "group": "9a362c76890981f7",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1110,
        "y": 520,
        "wires": [],
        "icon": "font-awesome/fa-sun-o"
    },
    {
        "id": "2661be134d23c811",
        "type": "change",
        "z": "c859606fa8657c86",
        "name": "Humidade Relativa",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 640,
        "wires": [
            [
                "e317184dbd63fcc3"
            ]
        ]
    },
    {
        "id": "c7e74a615e8e2c3e",
        "type": "change",
        "z": "c859606fa8657c86",
        "name": "Velocidade do Vento",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.wind.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 700,
        "wires": [
            [
                "9a52a1e8e77dd7cd"
            ]
        ]
    },
    {
        "id": "3abc02ebdcb7e3c7",
        "type": "change",
        "z": "c859606fa8657c86",
        "name": "Sensação Térmica",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.feels_like",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 760,
        "wires": [
            [
                "cd12bde865122810"
            ]
        ]
    },
    {
        "id": "208c95dae43810a1",
        "type": "change",
        "z": "c859606fa8657c86",
        "name": "Humidade Relativa",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 260,
        "wires": [
            [
                "b64797832a406cbf"
            ]
        ]
    },
    {
        "id": "ee93e4c11f383a88",
        "type": "change",
        "z": "c859606fa8657c86",
        "name": "Velocidade do Vento",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.wind.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 320,
        "wires": [
            [
                "5f9f20e0a454cdf2"
            ]
        ]
    },
    {
        "id": "e35d55f46cb409d9",
        "type": "change",
        "z": "c859606fa8657c86",
        "name": "Sensação Térmica",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.feels_like",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 380,
        "wires": [
            [
                "82cfe678f22109e3"
            ]
        ]
    },
    {
        "id": "e317184dbd63fcc3",
        "type": "ui_gauge",
        "z": "c859606fa8657c86",
        "name": "",
        "group": "f41d6f162939396f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidade Relativa",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#bd0000",
            "#d1fd30",
            "#00bfff"
        ],
        "seg1": "25",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 640,
        "wires": []
    },
    {
        "id": "9a52a1e8e77dd7cd",
        "type": "ui_gauge",
        "z": "c859606fa8657c86",
        "name": "",
        "group": "597a105ea7109939",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Velocidade do Vento",
        "label": "km/h",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "28",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1140,
        "y": 700,
        "wires": []
    },
    {
        "id": "cd12bde865122810",
        "type": "ui_gauge",
        "z": "c859606fa8657c86",
        "name": "",
        "group": "5d11d58f09e8524d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensação Térmica",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 760,
        "wires": []
    },
    {
        "id": "b9917fb519e1db3a",
        "type": "ui_gauge",
        "z": "c859606fa8657c86",
        "name": "",
        "group": "e490e445e7396706",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Mínima",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1100,
        "y": 580,
        "wires": [],
        "icon": "font-awesome/fa-sun-o"
    },
    {
        "id": "b64797832a406cbf",
        "type": "ui_gauge",
        "z": "c859606fa8657c86",
        "name": "",
        "group": "4047a8244a7d9147",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidade Relativa",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 260,
        "wires": []
    },
    {
        "id": "5f9f20e0a454cdf2",
        "type": "ui_gauge",
        "z": "c859606fa8657c86",
        "name": "",
        "group": "9076243f6f9a72f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Velocidade do Vento",
        "label": "km/h",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1140,
        "y": 320,
        "wires": []
    },
    {
        "id": "82cfe678f22109e3",
        "type": "ui_gauge",
        "z": "c859606fa8657c86",
        "name": "",
        "group": "f8c447f891c8d4f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensação Térmica",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 380,
        "wires": []
    },
    {
        "id": "88fe61bb72ebb5a2",
        "type": "inject",
        "z": "c859606fa8657c86",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 380,
        "wires": [
            [
                "f1e27d0bc04a71c3",
                "03980cfda84bef22"
            ]
        ]
    },
    {
        "id": "fa7126a4400792b1",
        "type": "serial in",
        "z": "c859606fa8657c86",
        "name": "",
        "serial": "0130d987fe9b5643",
        "x": 330,
        "y": 380,
        "wires": [
            [
                "8992f0ed2996370c"
            ]
        ]
    },
    {
        "id": "8992f0ed2996370c",
        "type": "ui_gauge",
        "z": "c859606fa8657c86",
        "name": "",
        "group": "ae36e0fc7f61a797",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Ultrassônico",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 380,
        "wires": []
    }
]